files:
  /etc/nginx/conf.d/01_gzip.conf:
    content: |
      gzip_types text/plain text/css application/javascript application/x-javascript text/javascript application/json application/xml text/x-js image/svg+xml; # enable compression for other types
        # note that text/html is already included by default
      gzip_proxied any;
      gzip_comp_level 6;
      gzip_min_length 1000;
      gzip_vary on; # instruct proxies to keep compressed and decompressed versions as appropriate
      gzip_disable "MSIE [1-6]\.(?!.*SV1)"; # disable compression for unsupported IE versions
      gzip_buffers 16 8k; # enable compression of large files
